.sprite-mini-gray-17-tshirt2x,
.sprite-mini-gray-37-facetime2x,
.sprite-mini-gray-18-puzzle2x,
.sprite-mini-gray-07-band-aid2x,
.sprite-mini-gray-04-eye2x,
.sprite-mini-gray-33-retweet2x,
.sprite-mini-gray-14-gear2x,
.sprite-mini-gray-09-pin2x,
.sprite-mini-gray-06-map-pin2x,
.sprite-mini-gray-38-house2x,
.sprite-mini-gray-36-shield2x,
.sprite-mini-gray-35-screen2x,
.sprite-mini-gray-34-key2x,
.sprite-mini-gray-32-speechbubble2x,
.sprite-mini-gray-31-paper-airplane2x,
.sprite-mini-gray-30-at2x,
.sprite-mini-gray-29-crown2x,
.sprite-mini-gray-28-sadface2x,
.sprite-mini-gray-27-happyface2x,
.sprite-mini-gray-25-box2x,
.sprite-mini-gray-24-person2x,
.sprite-mini-gray-23-cloud2x,
.sprite-mini-gray-22-location-arrow2x,
.sprite-mini-gray-21-wrench2x,
.sprite-mini-gray-20-chat2x,
.sprite-mini-gray-19-clock2x,
.sprite-mini-gray-16-tag2x,
.sprite-mini-gray-15-note2x,
.sprite-mini-gray-13-fork-knife2x,
.sprite-mini-gray-12-flag2x,
.sprite-mini-gray-11-paw2x,
.sprite-mini-gray-10-microphone2x,
.sprite-mini-gray-09-lightning2x,
.sprite-mini-gray-01-magnify2x,
.sprite-mini-gray-03-heart2x,
.sprite-mini-gray-02-star2x,
.sprite-mini-gray-40-forward2x,
.sprite-mini-gray-39-back2x,
.sprite-mini-gray-26-checkmark2x,
.sprite-mini-gray-05-plus2x,
.sprite-mini-gray-17-tshirt,
.sprite-mini-gray-37-facetime,
.sprite-mini-gray-18-puzzle,
.sprite-mini-gray-07-band-aid,
.sprite-mini-gray-04-eye,
.sprite-mini-gray-33-retweet,
.sprite-mini-gray-14-gear,
.sprite-mini-gray-08-pin,
.sprite-mini-gray-06-map-pin,
.sprite-mini-gray-38-house,
.sprite-mini-gray-36-shield,
.sprite-mini-gray-35-screen,
.sprite-mini-gray-34-key,
.sprite-mini-gray-32-speechbubble,
.sprite-mini-gray-31-paper-airplane,
.sprite-mini-gray-30-at,
.sprite-mini-gray-29-crown,
.sprite-mini-gray-28-sadface,
.sprite-mini-gray-27-happyface,
.sprite-mini-gray-25-box,
.sprite-mini-gray-24-person,
.sprite-mini-gray-23-cloud,
.sprite-mini-gray-22-location-arrow,
.sprite-mini-gray-21-wrench,
.sprite-mini-gray-20-chat,
.sprite-mini-gray-19-clock,
.sprite-mini-gray-16-tag,
.sprite-mini-gray-15-note,
.sprite-mini-gray-13-fork-knife,
.sprite-mini-gray-12-flag,
.sprite-mini-gray-11-paw,
.sprite-mini-gray-10-microphone,
.sprite-mini-gray-09-lightning,
.sprite-mini-gray-01-magnify,
.sprite-mini-gray-03-heart,
.sprite-mini-gray-02-star,
.sprite-mini-gray-40-forward,
.sprite-mini-gray-39-back,
.sprite-mini-gray-26-checkmark,
.sprite-mini-gray-05-plus{background-image:url('../img/mini-gray.png');background-repeat:no-repeat;}
.sprite-mini-gray-17-tshirt2x{background-position:0px 0px;width:48px; height:34px;}
.sprite-mini-gray-37-facetime2x{background-position:-48px 0px;width:40px; height:26px;}
.sprite-mini-gray-18-puzzle2x{background-position:0px -34px;width:40px; height:36px;}
.sprite-mini-gray-07-band-aid2x{background-position:-88px 0px;width:40px; height:38px;}
.sprite-mini-gray-04-eye2x{background-position:-88px -38px;width:40px; height:26px;}
.sprite-mini-gray-33-retweet2x{background-position:-40px -34px;width:38px; height:26px;}
.sprite-mini-gray-14-gear2x{background-position:0px -70px;width:38px; height:38px;}
.sprite-mini-gray-09-pin2x{background-position:-38px -70px;width:22px; height:38px;}
.sprite-mini-gray-06-map-pin2x{background-position:-60px -70px;width:22px; height:38px;}
.sprite-mini-gray-38-house2x{background-position:-82px -70px;width:36px; height:34px;}
.sprite-mini-gray-36-shield2x{background-position:-128px 0px;width:32px; height:36px;}
.sprite-mini-gray-35-screen2x{background-position:0px -108px;width:36px; height:36px;}
.sprite-mini-gray-34-key2x{background-position:-36px -108px;width:36px; height:36px;}
.sprite-mini-gray-32-speechbubble2x{background-position:-72px -108px;width:36px; height:36px;}
.sprite-mini-gray-31-paper-airplane2x{background-position:-108px -108px;width:36px; height:32px;}
.sprite-mini-gray-30-at2x{background-position:-160px 0px;width:36px; height:36px;}
.sprite-mini-gray-29-crown2x{background-position:-160px -36px;width:36px; height:28px;}
.sprite-mini-gray-28-sadface2x{background-position:-160px -64px;width:36px; height:36px;}
.sprite-mini-gray-27-happyface2x{background-position:-160px -100px;width:36px; height:36px;}
.sprite-mini-gray-25-box2x{background-position:0px -144px;width:36px; height:32px;}
.sprite-mini-gray-24-person2x{background-position:-36px -144px;width:36px; height:32px;}
.sprite-mini-gray-23-cloud2x{background-position:-72px -144px;width:36px; height:24px;}
.sprite-mini-gray-22-location-arrow2x{background-position:-196px 0px;width:36px; height:36px;}
.sprite-mini-gray-21-wrench2x{background-position:-196px -36px;width:36px; height:36px;}
.sprite-mini-gray-20-chat2x{background-position:-196px -72px;width:36px; height:32px;}
.sprite-mini-gray-19-clock2x{background-position:-196px -104px;width:36px; height:36px;}
.sprite-mini-gray-16-tag2x{background-position:-196px -140px;width:36px; height:36px;}
.sprite-mini-gray-15-note2x{background-position:-128px -36px;width:32px; height:36px;}
.sprite-mini-gray-13-fork-knife2x{background-position:-128px -72px;width:32px; height:36px;}
.sprite-mini-gray-12-flag2x{background-position:0px -176px;width:28px; height:36px;}
.sprite-mini-gray-11-paw2x{background-position:-28px -176px;width:36px; height:36px;}
.sprite-mini-gray-10-microphone2x{background-position:-64px -176px;width:24px; height:36px;}
.sprite-mini-gray-09-lightning2x{background-position:-88px -176px;width:24px; height:36px;}
.sprite-mini-gray-01-magnify2x{background-position:-112px -176px;width:36px; height:36px;}
.sprite-mini-gray-03-heart2x{background-position:-148px -176px;width:34px; height:30px;}
.sprite-mini-gray-02-star2x{background-position:-232px 0px;width:34px; height:34px;}
.sprite-mini-gray-40-forward2x{background-position:-232px -34px;width:32px; height:32px;}
.sprite-mini-gray-39-back2x{background-position:-232px -66px;width:32px; height:32px;}
.sprite-mini-gray-26-checkmark2x{background-position:-232px -98px;width:32px; height:32px;}
.sprite-mini-gray-05-plus2x{background-position:-232px -130px;width:30px; height:30px;}
.sprite-mini-gray-17-tshirt{background-position:-232px -160px;width:24px; height:17px;}
.sprite-mini-gray-37-facetime{background-position:-232px -177px;width:20px; height:13px;}
.sprite-mini-gray-18-puzzle{background-position:-232px -190px;width:20px; height:18px;}
.sprite-mini-gray-07-band-aid{background-position:-108px -144px;width:20px; height:19px;}
.sprite-mini-gray-04-eye{background-position:-128px -144px;width:20px; height:13px;}
.sprite-mini-gray-33-retweet{background-position:-148px -144px;width:19px; height:13px;}
.sprite-mini-gray-14-gear{background-position:-182px -176px;width:19px; height:19px;}
.sprite-mini-gray-08-pin{background-position:-144px -108px;width:11px; height:19px;}
.sprite-mini-gray-06-map-pin{background-position:-201px -176px;width:11px; height:19px;}
.sprite-mini-gray-38-house{background-position:-212px -176px;width:18px; height:17px;}
.sprite-mini-gray-36-shield{background-position:0px -212px;width:16px; height:18px;}
.sprite-mini-gray-35-screen{background-position:-16px -212px;width:18px; height:18px;}
.sprite-mini-gray-34-key{background-position:-34px -212px;width:18px; height:18px;}
.sprite-mini-gray-32-speechbubble{background-position:-52px -212px;width:18px; height:18px;}
.sprite-mini-gray-31-paper-airplane{background-position:-70px -212px;width:18px; height:16px;}
.sprite-mini-gray-30-at{background-position:0px -230px;width:18px; height:18px;}
.sprite-mini-gray-29-crown{background-position:-88px -212px;width:18px; height:14px;}
.sprite-mini-gray-28-sadface{background-position:-18px -230px;width:18px; height:18px;}
.sprite-mini-gray-27-happyface{background-position:-36px -230px;width:18px; height:18px;}
.sprite-mini-gray-25-box{background-position:-54px -230px;width:18px; height:16px;}
.sprite-mini-gray-24-person{background-position:-72px -230px;width:18px; height:16px;}
.sprite-mini-gray-23-cloud{background-position:-167px -144px;width:18px; height:12px;}
.sprite-mini-gray-22-location-arrow{background-position:0px -248px;width:18px; height:18px;}
.sprite-mini-gray-21-wrench{background-position:-18px -248px;width:18px; height:18px;}
.sprite-mini-gray-20-chat{background-position:-90px -230px;width:18px; height:16px;}
.sprite-mini-gray-19-clock{background-position:-36px -248px;width:18px; height:18px;}
.sprite-mini-gray-16-tag{background-position:-54px -248px;width:18px; height:18px;}
.sprite-mini-gray-15-note{background-position:-72px -248px;width:16px; height:18px;}
.sprite-mini-gray-13-fork-knife{background-position:-88px -248px;width:16px; height:18px;}
.sprite-mini-gray-12-flag{background-position:-252px -190px;width:14px; height:18px;}
.sprite-mini-gray-11-paw{background-position:-104px -248px;width:18px; height:18px;}
.sprite-mini-gray-10-microphone{background-position:-122px -248px;width:12px; height:18px;}
.sprite-mini-gray-09-lightning{background-position:-134px -248px;width:12px; height:18px;}
.sprite-mini-gray-01-magnify{background-position:-146px -248px;width:18px; height:18px;}
.sprite-mini-gray-03-heart{background-position:-108px -230px;width:17px; height:15px;}
.sprite-mini-gray-02-star{background-position:-164px -248px;width:17px; height:17px;}
.sprite-mini-gray-40-forward{background-position:-181px -248px;width:16px; height:16px;}
.sprite-mini-gray-39-back{background-position:-197px -248px;width:16px; height:16px;}
.sprite-mini-gray-26-checkmark{background-position:-213px -248px;width:16px; height:16px;}
.sprite-mini-gray-05-plus{background-position:-125px -230px;width:15px; height:15px;}
