.sprite-xtras-gray-56-truck2x,
.sprite-xtras-gray-43-jeep2x,
.sprite-xtras-gray-16-car2x,
.sprite-xtras-gray-13-bicycle2x,
.sprite-xtras-gray-52-recycle2x,
.sprite-xtras-gray-59-woman2x,
.sprite-xtras-gray-58-wifi2x,
.sprite-xtras-gray-44-man2x,
.sprite-xtras-gray-57-wheelchair2x,
.sprite-xtras-gray-51-power2x,
.sprite-xtras-gray-53-reminder2x,
.sprite-xtras-gray-42-info2x,
.sprite-xtras-gray-37-circle-x2x,
.sprite-xtras-gray-36-circle-west2x,
.sprite-xtras-gray-35-circle-stop2x,
.sprite-xtras-gray-34-circle-southwest2x,
.sprite-xtras-gray-33-circle-southeast2x,
.sprite-xtras-gray-32-circle-south2x,
.sprite-xtras-gray-31-circle-plus2x,
.sprite-xtras-gray-30-circle-play2x,
.sprite-xtras-gray-29-circle-pause2x,
.sprite-xtras-gray-28-circle-out2x,
.sprite-xtras-gray-27-circle-o2x,
.sprite-xtras-gray-26-circle-northwest2x,
.sprite-xtras-gray-25-circle-northeast2x,
.sprite-xtras-gray-24-circle-north2x,
.sprite-xtras-gray-23-circle-no2x,
.sprite-xtras-gray-22-circle-minus2x,
.sprite-xtras-gray-21-circle-in2x,
.sprite-xtras-gray-20-circle-east2x,
.sprite-xtras-gray-19-circle-check2x,
.sprite-xtras-gray-18-circle-bothways2x,
.sprite-xtras-gray-15-bus2x,
.sprite-xtras-gray-01-anchor2x,
.sprite-xtras-gray-39-cursor2x,
.sprite-xtras-gray-38-clover2x,
.sprite-xtras-gray-55-todo2x,
.sprite-xtras-gray-41-feed2x,
.sprite-xtras-gray-12-badge2x,
.sprite-xtras-gray-14-bothways2x,
.sprite-xtras-gray-11-arrows-out2x,
.sprite-xtras-gray-46-no2x,
.sprite-xtras-gray-40-dialpad2x,
.sprite-xtras-gray-10-arrows-in2x,
.sprite-xtras-gray-09-arrow-west2x,
.sprite-xtras-gray-06-arrow-south2x,
.sprite-xtras-gray-03-arrow-north2x,
.sprite-xtras-gray-02-arrow-east2x,
.sprite-xtras-gray-17-check2x,
.sprite-xtras-gray-56-truck,
.sprite-xtras-gray-43-jeep,
.sprite-xtras-gray-16-car,
.sprite-xtras-gray-13-bicycle,
.sprite-xtras-gray-52-recycle,
.sprite-xtras-gray-59-woman,
.sprite-xtras-gray-58-wifi,
.sprite-xtras-gray-44-man,
.sprite-xtras-gray-08-arrow-southwest2x,
.sprite-xtras-gray-07-arrow-southeast2x,
.sprite-xtras-gray-05-arrow-northwest2x,
.sprite-xtras-gray-04-arrow-northeast2x,
.sprite-xtras-gray-57-wheelchair,
.sprite-xtras-gray-51-power,
.sprite-xtras-gray-01-anchor,
.sprite-xtras-gray-60-x2x,
.sprite-xtras-gray-54-stop2x,
.sprite-xtras-gray-53-reminder,
.sprite-xtras-gray-50-plus2x,
.sprite-xtras-gray-49-play2x,
.sprite-xtras-gray-48-pause2x,
.sprite-xtras-gray-47-o2x,
.sprite-xtras-gray-45-minus2x,
.sprite-xtras-gray-42-info,
.sprite-xtras-gray-37-circle-x,
.sprite-xtras-gray-36-circle-west,
.sprite-xtras-gray-35-circle-stop,
.sprite-xtras-gray-34-circle-southwest,
.sprite-xtras-gray-33-circle-southeast,
.sprite-xtras-gray-32-circle-south,
.sprite-xtras-gray-31-circle-plus,
.sprite-xtras-gray-30-circle-play,
.sprite-xtras-gray-29-circle-pause,
.sprite-xtras-gray-28-circle-out,
.sprite-xtras-gray-27-circle-o,
.sprite-xtras-gray-26-circle-northwest,
.sprite-xtras-gray-25-circle-northeast,
.sprite-xtras-gray-24-circle-north,
.sprite-xtras-gray-23-circle-no,
.sprite-xtras-gray-22-circle-minus,
.sprite-xtras-gray-21-circle-in,
.sprite-xtras-gray-20-circle-east,
.sprite-xtras-gray-19-circle-check,
.sprite-xtras-gray-18-circle-bothways,
.sprite-xtras-gray-15-bus,
.sprite-xtras-gray-55-todo,
.sprite-xtras-gray-39-cursor,
.sprite-xtras-gray-38-clover,
.sprite-xtras-gray-12-badge,
.sprite-xtras-gray-41-feed,
.sprite-xtras-gray-14-bothways,
.sprite-xtras-gray-11-arrows-out,
.sprite-xtras-gray-10-arrows-in,
.sprite-xtras-gray-46-no,
.sprite-xtras-gray-40-dialpad,
.sprite-xtras-gray-09-arrow-west,
.sprite-xtras-gray-06-arrow-south,
.sprite-xtras-gray-03-arrow-north,
.sprite-xtras-gray-02-arrow-east,
.sprite-xtras-gray-17-check,
.sprite-xtras-gray-08-arrow-southwest,
.sprite-xtras-gray-07-arrow-southeast,
.sprite-xtras-gray-05-arrow-northwest,
.sprite-xtras-gray-04-arrow-northeast,
.sprite-xtras-gray-60-x,
.sprite-xtras-gray-54-stop,
.sprite-xtras-gray-50-plus,
.sprite-xtras-gray-49-play,
.sprite-xtras-gray-48-pause,
.sprite-xtras-gray-47-o,
.sprite-xtras-gray-45-minus{background-image:url('../img/xtras-gray.png');background-repeat:no-repeat;}
.sprite-xtras-gray-56-truck2x{background-position:0px 0px;width:68px; height:35px;}
.sprite-xtras-gray-43-jeep2x{background-position:0px -35px;width:68px; height:33px;}
.sprite-xtras-gray-16-car2x{background-position:-68px 0px;width:68px; height:36px;}
.sprite-xtras-gray-13-bicycle2x{background-position:0px -68px;width:68px; height:40px;}
.sprite-xtras-gray-52-recycle2x{background-position:-136px 0px;width:62px; height:60px;}
.sprite-xtras-gray-59-woman2x{background-position:0px -108px;width:30px; height:60px;}
.sprite-xtras-gray-58-wifi2x{background-position:-136px -60px;width:60px; height:42px;}
.sprite-xtras-gray-44-man2x{background-position:-30px -108px;width:22px; height:60px;}
.sprite-xtras-gray-57-wheelchair2x{background-position:-52px -108px;width:50px; height:58px;}
.sprite-xtras-gray-51-power2x{background-position:-102px -108px;width:56px; height:58px;}
.sprite-xtras-gray-53-reminder2x{background-position:-198px 0px;width:50px; height:56px;}
.sprite-xtras-gray-42-info2x{background-position:0px -168px;width:56px; height:56px;}
.sprite-xtras-gray-37-circle-x2x{background-position:-56px -168px;width:56px; height:56px;}
.sprite-xtras-gray-36-circle-west2x{background-position:-112px -168px;width:56px; height:56px;}
.sprite-xtras-gray-35-circle-stop2x{background-position:-168px -168px;width:56px; height:56px;}
.sprite-xtras-gray-34-circle-southwest2x{background-position:-248px 0px;width:56px; height:56px;}
.sprite-xtras-gray-33-circle-southeast2x{background-position:-248px -56px;width:56px; height:56px;}
.sprite-xtras-gray-32-circle-south2x{background-position:-248px -112px;width:56px; height:56px;}
.sprite-xtras-gray-31-circle-plus2x{background-position:-248px -168px;width:56px; height:56px;}
.sprite-xtras-gray-30-circle-play2x{background-position:0px -224px;width:56px; height:56px;}
.sprite-xtras-gray-29-circle-pause2x{background-position:-56px -224px;width:56px; height:56px;}
.sprite-xtras-gray-28-circle-out2x{background-position:-112px -224px;width:56px; height:56px;}
.sprite-xtras-gray-27-circle-o2x{background-position:-168px -224px;width:56px; height:56px;}
.sprite-xtras-gray-26-circle-northwest2x{background-position:-224px -224px;width:56px; height:56px;}
.sprite-xtras-gray-25-circle-northeast2x{background-position:-304px 0px;width:56px; height:56px;}
.sprite-xtras-gray-24-circle-north2x{background-position:-304px -56px;width:56px; height:56px;}
.sprite-xtras-gray-23-circle-no2x{background-position:-304px -112px;width:56px; height:56px;}
.sprite-xtras-gray-22-circle-minus2x{background-position:-304px -168px;width:56px; height:56px;}
.sprite-xtras-gray-21-circle-in2x{background-position:-304px -224px;width:56px; height:56px;}
.sprite-xtras-gray-20-circle-east2x{background-position:0px -280px;width:56px; height:56px;}
.sprite-xtras-gray-19-circle-check2x{background-position:-56px -280px;width:56px; height:56px;}
.sprite-xtras-gray-18-circle-bothways2x{background-position:-112px -280px;width:56px; height:56px;}
.sprite-xtras-gray-15-bus2x{background-position:-198px -56px;width:44px; height:56px;}
.sprite-xtras-gray-01-anchor2x{background-position:-168px -280px;width:55px; height:56px;}
.sprite-xtras-gray-39-cursor2x{background-position:-223px -280px;width:54px; height:52px;}
.sprite-xtras-gray-38-clover2x{background-position:-198px -112px;width:50px; height:54px;}
.sprite-xtras-gray-55-todo2x{background-position:-360px 0px;width:51px; height:53px;}
.sprite-xtras-gray-41-feed2x{background-position:-277px -280px;width:52px; height:52px;}
.sprite-xtras-gray-12-badge2x{background-position:-360px -53px;width:50px; height:52px;}
.sprite-xtras-gray-14-bothways2x{background-position:-360px -105px;width:48px; height:24px;}
.sprite-xtras-gray-11-arrows-out2x{background-position:-360px -129px;width:46px; height:46px;}
.sprite-xtras-gray-46-no2x{background-position:-360px -175px;width:44px; height:44px;}
.sprite-xtras-gray-40-dialpad2x{background-position:-360px -219px;width:44px; height:44px;}
.sprite-xtras-gray-10-arrows-in2x{background-position:-360px -263px;width:42px; height:42px;}
.sprite-xtras-gray-09-arrow-west2x{background-position:-68px -36px;width:38px; height:32px;}
.sprite-xtras-gray-06-arrow-south2x{background-position:-68px -68px;width:32px; height:38px;}
.sprite-xtras-gray-03-arrow-north2x{background-position:-100px -68px;width:32px; height:38px;}
.sprite-xtras-gray-02-arrow-east2x{background-position:-158px -108px;width:38px; height:32px;}
.sprite-xtras-gray-17-check2x{background-position:0px -336px;width:32px; height:36px;}
.sprite-xtras-gray-56-truck{background-position:-360px -305px;width:34px; height:19px;}
.sprite-xtras-gray-43-jeep{background-position:-158px -140px;width:34px; height:18px;}
.sprite-xtras-gray-16-car{background-position:-32px -336px;width:34px; height:19px;}
.sprite-xtras-gray-13-bicycle{background-position:0px -372px;width:34px; height:21px;}
.sprite-xtras-gray-52-recycle{background-position:-329px -280px;width:31px; height:30px;}
.sprite-xtras-gray-59-woman{background-position:-106px -36px;width:15px; height:30px;}
.sprite-xtras-gray-58-wifi{background-position:-411px 0px;width:30px; height:23px;}
.sprite-xtras-gray-44-man{background-position:-411px -23px;width:11px; height:30px;}
.sprite-xtras-gray-08-arrow-southwest2x{background-position:-411px -53px;width:30px; height:30px;}
.sprite-xtras-gray-07-arrow-southeast2x{background-position:-411px -83px;width:30px; height:30px;}
.sprite-xtras-gray-05-arrow-northwest2x{background-position:-411px -113px;width:30px; height:30px;}
.sprite-xtras-gray-04-arrow-northeast2x{background-position:-411px -143px;width:30px; height:30px;}
.sprite-xtras-gray-57-wheelchair{background-position:-411px -173px;width:25px; height:29px;}
.sprite-xtras-gray-51-power{background-position:-411px -202px;width:28px; height:29px;}
.sprite-xtras-gray-01-anchor{background-position:-411px -231px;width:28px; height:29px;}
.sprite-xtras-gray-60-x2x{background-position:-411px -260px;width:28px; height:28px;}
.sprite-xtras-gray-54-stop2x{background-position:-411px -288px;width:28px; height:28px;}
.sprite-xtras-gray-53-reminder{background-position:-411px -316px;width:25px; height:28px;}
.sprite-xtras-gray-50-plus2x{background-position:-411px -344px;width:28px; height:28px;}
.sprite-xtras-gray-49-play2x{background-position:-422px -23px;width:14px; height:28px;}
.sprite-xtras-gray-48-pause2x{background-position:-224px -168px;width:20px; height:28px;}
.sprite-xtras-gray-47-o2x{background-position:0px -393px;width:28px; height:28px;}
.sprite-xtras-gray-45-minus2x{background-position:-411px -372px;width:28px; height:8px;}
.sprite-xtras-gray-42-info{background-position:-28px -393px;width:28px; height:28px;}
.sprite-xtras-gray-37-circle-x{background-position:-56px -393px;width:28px; height:28px;}
.sprite-xtras-gray-36-circle-west{background-position:-84px -393px;width:28px; height:28px;}
.sprite-xtras-gray-35-circle-stop{background-position:-112px -393px;width:28px; height:28px;}
.sprite-xtras-gray-34-circle-southwest{background-position:-140px -393px;width:28px; height:28px;}
.sprite-xtras-gray-33-circle-southeast{background-position:-168px -393px;width:28px; height:28px;}
.sprite-xtras-gray-32-circle-south{background-position:-196px -393px;width:28px; height:28px;}
.sprite-xtras-gray-31-circle-plus{background-position:-224px -393px;width:28px; height:28px;}
.sprite-xtras-gray-30-circle-play{background-position:-252px -393px;width:28px; height:28px;}
.sprite-xtras-gray-29-circle-pause{background-position:-280px -393px;width:28px; height:28px;}
.sprite-xtras-gray-28-circle-out{background-position:-308px -393px;width:28px; height:28px;}
.sprite-xtras-gray-27-circle-o{background-position:-336px -393px;width:28px; height:28px;}
.sprite-xtras-gray-26-circle-northwest{background-position:-364px -393px;width:28px; height:28px;}
.sprite-xtras-gray-25-circle-northeast{background-position:-392px -393px;width:28px; height:28px;}
.sprite-xtras-gray-24-circle-north{background-position:-441px 0px;width:28px; height:28px;}
.sprite-xtras-gray-23-circle-no{background-position:-441px -28px;width:28px; height:28px;}
.sprite-xtras-gray-22-circle-minus{background-position:-441px -56px;width:28px; height:28px;}
.sprite-xtras-gray-21-circle-in{background-position:-441px -84px;width:28px; height:28px;}
.sprite-xtras-gray-20-circle-east{background-position:-441px -112px;width:28px; height:28px;}
.sprite-xtras-gray-19-circle-check{background-position:-441px -140px;width:28px; height:28px;}
.sprite-xtras-gray-18-circle-bothways{background-position:-441px -168px;width:28px; height:28px;}
.sprite-xtras-gray-15-bus{background-position:-441px -196px;width:22px; height:28px;}
.sprite-xtras-gray-55-todo{background-position:-441px -224px;width:26px; height:27px;}
.sprite-xtras-gray-39-cursor{background-position:-441px -251px;width:27px; height:27px;}
.sprite-xtras-gray-38-clover{background-position:-441px -278px;width:25px; height:27px;}
.sprite-xtras-gray-12-badge{background-position:-441px -305px;width:26px; height:27px;}
.sprite-xtras-gray-41-feed{background-position:-441px -332px;width:26px; height:26px;}
.sprite-xtras-gray-14-bothways{background-position:-441px -358px;width:24px; height:12px;}
.sprite-xtras-gray-11-arrows-out{background-position:-441px -370px;width:23px; height:23px;}
.sprite-xtras-gray-10-arrows-in{background-position:-441px -393px;width:23px; height:23px;}
.sprite-xtras-gray-46-no{background-position:-224px -196px;width:22px; height:22px;}
.sprite-xtras-gray-40-dialpad{background-position:-280px -224px;width:22px; height:22px;}
.sprite-xtras-gray-09-arrow-west{background-position:-280px -246px;width:19px; height:16px;}
.sprite-xtras-gray-06-arrow-south{background-position:-394px -305px;width:16px; height:19px;}
.sprite-xtras-gray-03-arrow-north{background-position:-329px -310px;width:16px; height:19px;}
.sprite-xtras-gray-02-arrow-east{background-position:-280px -262px;width:19px; height:16px;}
.sprite-xtras-gray-17-check{background-position:-66px -336px;width:16px; height:18px;}
.sprite-xtras-gray-08-arrow-southwest{background-position:-121px -36px;width:15px; height:15px;}
.sprite-xtras-gray-07-arrow-southeast{background-position:-121px -51px;width:15px; height:15px;}
.sprite-xtras-gray-05-arrow-northwest{background-position:-345px -310px;width:15px; height:15px;}
.sprite-xtras-gray-04-arrow-northeast{background-position:-82px -336px;width:15px; height:15px;}
.sprite-xtras-gray-60-x{background-position:-97px -336px;width:14px; height:14px;}
.sprite-xtras-gray-54-stop{background-position:-111px -336px;width:14px; height:14px;}
.sprite-xtras-gray-50-plus{background-position:-125px -336px;width:14px; height:14px;}
.sprite-xtras-gray-49-play{background-position:-404px -175px;width:7px; height:14px;}
.sprite-xtras-gray-48-pause{background-position:-139px -336px;width:10px; height:14px;}
.sprite-xtras-gray-47-o{background-position:-149px -336px;width:14px; height:14px;}
.sprite-xtras-gray-45-minus{background-position:-441px -416px;width:14px; height:4px;}
